
#Signin{
       margin-top: 20px; 
       background-color: skyblue;
       padding: 10px;
       width: 200px;
       border-radius: 50px;
       outline-style: none;
       color: white;
       border-style: none;
       margin-bottom: 20px;
}
.container{
    margin-top: 50px;
    width:100%;
    background: linear-gradient(to right,#f2fcfe,#1c92d2);
}


.Ft {
    padding: 3rem 12% 2rem 12%;
        height: 70vh;
        /* background:#1c92d2; */
        background: linear-gradient(to right,#1c92d2,#f2fcfe);
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
      }

.Fr {
    padding: 3rem 17% 2rem 12%;
    width: 70px;
    height: 70vh;
    /* background: white; */
    background: linear-gradient(to right,#1c92d2,#f2fcfe,);
}
.Fr h2{
    padding-left: 50px;
    text-align: left;
    margin-top: -10px;
    color: white;

}
.Fr h5{
    padding-left: 200px;
    text-align: left;
    color: white;
    font-size: medium;

}
.Fr form{
    text-align: left;
    padding-top: 20px;
    padding-left: 30px;
    margin-left: 50px;
    width: 300px;
    background-color:#f2fcfe;
}
.Fr input{
    border-radius: 30px;
    border-style: none;
    padding: 2px;
    width: 230px;
}
.Fr ::placeholder{
    padding-left: 40px;
}
.frgtpswrd{
    margin-top: 10px;
}
.Fr h5{
    margin-top: 20px;
    font-size: medium;
    margin-left: -150px;
    color: white;
}
#freg{
    color: brown;
    text-decoration: none;
}