*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    box-shadow: 1px 2px 3px 4px rgba(120, 2, 133, 0.297);
    background-color:gainsboro;
    display: inline-flex;
    width: 70%;
    margin-left: 200px;
    margin-top: 100px;
    height: 350px;
}
img{
    margin-top: 35px;
    width: 400px;
    height: 250px;
    padding: 20px;
}
h3{
    color: rebeccapurple;
    margin-bottom: 5px;
}
img:hover{
    transform: scale(1.1);
    /* box-shadow:10px 0 15px 0px blueviolet; */
}
p{
    color: black;
    margin-bottom: 10px;
}
#box2{
    margin-top: 50px;
    padding: 5px;
    width: 450px;
    
}
#box3{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    width: 50px;
  margin-top: 10px;
    
}
#boxa,#boxb,#boxc,#boxd{
    margin-left: 5px;
    margin-right: 5px;
    background-color:rgb(8, 8, 79);
    color: white;
    padding: 14px;
 padding-left: 10px;
 padding-right: 10px;
 text-align: center;
 font-size: smaller;
}
#text,#text1,#text2,#text3{
    text-align: center;
    color: white;
    font-size: large;
}