*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 0 8px 6px -5px #999; 
  }
  
  .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: x-large !important;
  }
  .Title{
    display: inline-flex;
    margin-left: 150px;
  }
  .header {
    display: flex;
    gap: 50px;
    width:500px;
 
  }
  .header a{
     text-decoration: none;
     font-weight: 100px !important;

  }
  .header h1{
    line-height: 2.5rem;
    font-size:larger;
    color: #050505;
    
  }
  .Logo{
    margin-top: 2px;
  }
  .cart-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px;
    font-size: 0.7em;
  }
  .font{
    display:flex;
    justify-content: space-around;
    margin-right: 100px;
    width: 100px;
    gap: 10px; 
  }
  .more-options {
    margin-top: 0.6rem !important;
    color: #050505;
    /* margin-left: 10px; */
  }
  
.banner{
    height: 420px;
    padding-top: 80px;
    background-color: whitesmoke;
}
.hrlogo{
    padding-top: 50px;
    text-align: left;
   
}
.hrlogo h1,p{
    padding-left: 80px;
}
.hrlogo button{
    border: none;
    margin-left:15% ;
    background-color:rgb(227, 225, 228);
}
.herologo img{
    height: 300px;
}
.Bcont{
    
    margin-top: 50px;
}
.row{
   gap:5px;
}
.Icon{
    margin-top: 45px;
    /* width: 45px; */
    /* width: 40px; */
    padding: 10px;
    border-radius: 100%;
    background-color: white;

}
.Bcontent{
    padding-top: 20px;
     text-align:center;
}
.Bcontent p{
    /* width: 500px; */
    padding-left: 40px;
    text-align: left;
}

.B1{
    height:180px;
    background-color:rgb(245, 220, 220);
}
.B2{
    height:180px;
    background-color:rgb(166, 222, 216);
}
.B3{
    height:180px;
    background-color:rgb(235, 235, 169);
}
.B4{
    height:180px;
    background-color:rgb(177, 195, 221);
}
























/* 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
        font-size: medium;

  }
  
  .header {
    display: flex;
    gap: 10px;
  }
  Link{
    text-decoration: none;
  }
  .cart-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px;
    font-size: 0.7em;
  }
  
  .more-options {
    color: #050505;
  }
   */












/* .navbar{ */
    /* background-color: white; */
    /* box-shadow: 18px 20px 10px -8px whitesmoke; */
    /* box-shadow: 0 8px 6px -5px #999; */
  
      
      
/* } */
/* .navbar-brand{
    margin-left: 100px;
}
.Logo{
    margin-left: 100px;
}
.navbar a{
    font-size:30px;
    margin-left: -700px;

} */
