*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 0 8px 6px -5px #999; 
  }
  
  .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: x-large !important;
  }
  .Title{
    display: inline-flex;
    margin-left: 150px;
  }
  .header {
    display: flex;
    gap: 50px;
    width:500px;
 
  }
  .header a{
     text-decoration: none;
     font-weight: 100px !important;

  }
  .header h1{
    line-height: 2.5rem;
    font-size:larger;
    color: #050505;
    
  }
  .Logo{
    margin-top: 2px;
  }
  .cart-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px;
    font-size: 0.7em;
  }
  .font{
    display:flex;
    justify-content: space-around;
    margin-right: 100px;
    width: 100px;
    gap: 10px; 
  }
  .more-options {
    margin-top: 0.6rem !important;
    color: #050505;
    /* margin-left: 10px; */
  }
  
.banner{
    height: 420px;
    padding-top: 80px;
    background-color: whitesmoke;
}
.hrlogo{
    padding-top: 50px;
    text-align: left;
   
}
.hrlogo h1,p{
    padding-left: 80px;
}
.hrlogo button{
    border: none;
    margin-left:15% ;
    background-color:rgb(227, 225, 228);
}
.herologo img{
    height: 300px;
}
.Bcont{
    
    margin-top: 50px;
}
.row{
   gap:5px;

}
.Icon{
    margin-top: 45px;
    /* width: 45px; */
    /* width: 40px; */
    padding: 10px;
    border-radius: 100%;
    background-color: white;

}
.Bcontent{
    padding-top: 20px;
     text-align:center;
}
.Bcontent p{
    /* width: 500px; */
    padding-left: 40px;
    text-align: left;
}

.B1{
    height:180px;
    background-color:rgb(245, 220, 220);
}
.B2{
    height:180px;
    background-color:rgb(166, 222, 216);
}
.B3{
    height:180px;
    background-color:rgb(235, 235, 169);
}
.B4{
    height:180px;
    background-color:rgb(177, 195, 221);
}
.Big{
    height: 153vh;
    margin-top: 80px;
    background-color:whitesmoke ;
}
.Big h2{
    padding-top: 50px;
}
.card {
    position: relative;
    padding: 15px;
    height: 350px !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .discount-tag {
    position: absolute;
    top: 3px;
    left: 3px;
    background-color:rgb(3, 27, 100);
    color: #fff;
    border-radius: 150px;
    padding: 3px;
  }
  
  .product-img {
    padding: 18px;
    width:100%;
   height: 200px;
    padding-right: 10px;
  }
  
  .product-name {
    width: 200px;
    /* padding-top: 30px; */
    font-size: 1.1em;
    color: #000;
    text-align: left;
  }
  
  .rating {
    color: #ff0;
    text-align: left;
  }
  
  .price {
    text-align: left;
    font-size: 1.25em;
    color: #000;
  }
  
  .add-to-cart {
    width: 20px;
    position: absolute;
    right:10px;
    bottom: 0.1px;
    background-color:white; 
    border-radius: 50%;
    border-width: 0.2px;
    
    /* box-shadow:1px 1px 1px 1.8px rgb(99, 99, 97); */
    /* border-color: black; */
    font-size: 1.5em;

  }
  .cart-count{
    position: absolute;
    margin-right: 160px;
  }
  .BC1{
    margin-bottom: 20px;
    margin-top: 20px;
 
  }
.Br{

padding-left: 200px;
}

.BigC{
    height: 150vh;
    margin-top: 50px;

}
.BsH{
  height: 215vh;
  padding-top: 40px;
  background-color:whitesmoke ;
  margin-top: 710px;
}
.BS7{
  margin-left: 25%;
}
.Bfoot{
  position:absolute;
  /* bottom: 100px; */
  height: 250px;
  margin-top: 10px;
  background-color:#0f0553;
  color: white;
  padding-top: 4px;
}
.FLogo{
  margin-bottom: 7px;
}
.Ftitle{
  /* padding-left: 2px; */
  padding-top: 420%;
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  font-weight: 500
};
.Fcontent{
  padding-top:45px;

}
.Fcontent p{
  text-align: left;
}
.BF1{
  padding-top: 15px;
    margin-left: 16px;
}
.BF3content{
  padding-top: 20px;
  padding-right:30px;
}
.BF4content h5{
  padding-top: 20px;
  text-align: left;
}
.FcontA  li{
  list-style:none;
  text-align: left;
  margin-left:60px;
  padding: 3px;
}
.FcontC  li{
  list-style:none;
  text-align: left;
  margin-left:30px;
  padding: 3px;
}
.FcontD  li{
  list-style:none;
  text-align: left;
  padding-right:100px;
  padding: 3px;
}
.FcontD  li{
  list-style:none;
  text-align: left;
 
  padding: 3px;
}
.BF4{
 padding-right: 30px;
}
.FcontD ul{
  margin-left: -50px;

}
.product-card {
  position: relative;
}

.wishlist-icon {
  position: absolute;
  
  right: 10px;

}
.Shopbgrnd{
  background-image:url(./Assests/Images/table.jpg);
  background-repeat: no-repeat;
  height: 660px;
  width: 100%;
  margin-top: -260px;
 
  /* position: relative; */
}
.overlay {
  background-color: black;
  opacity: 0.7; 
  height: 300px;
  width: 100%;
  margin-top: -400px;
 
  /* position: absolute; */
 } 
.ShTitle{
  color: white;
  margin-left:45%;
  margin-bottom: 160px;
  
}
.Shpproducts{
  position:absolute;
 background-color: white; 
  margin-top: -150px;
 width: 100%;
  height: 300px; 

}
.form-control{
  border-radius: 150px !important;
  background-color: #f0eaea !important;
}
.input-group-append {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none !important;
}
.btn{
  border: none !important;
}
.Fbtn{
  background-color: #0f0553;
  color: white;
  border: none;
  padding: 7px;
  border-radius: 10px;
}
.dropdown-menu{
  margin-left: 30px !important;
}
.dropdown-item{
  cursor: pointer;
  background-color: white !important;
  color: black !important;
  text-align: center;
  width: 100%;
   padding-left: 50px !important; 
  height: 30px !important;
}
.selected-product-details{
  display: block !important;
  width: 100% !important;
  height: 100vh !important;
}


.orderItemContainer {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
}
.orderImgContainer {
  width: 80px;
  height: 80px;
  overflow: hidden;
  text-align: center;
}
.orderImg {
  max-width: 80px;
  max-height: 80px;
}
.orderRow {
  display: flex;
  flex: 1;
}
.orderName {
  width: 300px;
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 12px;
}
.orderPrice {
  box-sizing: border-box;
  padding: 0 40px;
  display: flex;
  align-items: flex-start;
  font-size: 14px;
}

/*---------------- shop footer --------------------*/

.Footer-relative{
  /* background-color: #ff0; */
  position: relative;
  margin-top: 1080vh;
  left: 0%;
  width: 99%;
  background-color:#0f0553;
  color: white;
}
  
  /* -----------------product---------------------- */
.product{
  background-color: #242323;
  width: 100%;
  height: 100%;
  color: black;

} 
 



















/* 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
        font-size: medium;

  }
  
  .header {
    display: flex;
    gap: 10px;
  }
  Link{
    text-decoration: none;
  }
  .cart-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px;
    font-size: 0.7em;
  }
  
  .more-options {
    color: #050505;
  }
   */












/* .navbar{ */
    /* background-color: white; */
    /* box-shadow: 18px 20px 10px -8px whitesmoke; */
    /* box-shadow: 0 8px 6px -5px #999; */
  
      
      
/* } */
/* .navbar-brand{
    margin-left: 100px;
}
.Logo{
    margin-left: 100px;
}
.navbar a{
    font-size:30px;
    margin-left: -700px;

} */
