*{
    margin:0;
}
.page_title{
    display: flex;
    flex-direction: row;
   

    color: red;
    background-color: #111;
        font-size: 1.5em; /* Adjust font size as needed */
        position: relative; /* Required for pseudo-elements positioning */
         /* clip-path: ellipse(75% 50% at 50% 50%); */

        /* mask-image: radial-gradient(circle at 20% 50%, red 40%, red 41%) !important; */
      }
      .page_title h1 {
        font-family: 'Podkava', serif;
        font-size: 3rem;
        line-height: 1.1;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: -0.05em;
        margin-left: 20px;
        color: #E50914;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right, #E50914, #F0F0F0);
        /* top: 50%; */
        position: relative;
       
            
    }
.Nav_bar{
    display: flex;
    
}
.Nav_options{
    display: flex;
    flex-direction:row;
    list-style: none;
}
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    display: flex;
    background-color: #111;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav_logo_img {
    height: 40px;
    padding-left: 20px;
    object-fit: contain;  
  }
  
  .navbar_links {
    display: flex;
    list-style-type: none;
  }
  
  .navbar_link {
    color: white;
    cursor: pointer;
    margin-right: 20px;
  }
      
      
            
    
      
     
      
