*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: large !important;
    background-color: whitesmoke;
}
.navbar{
    background-color: white;
}
.container-fluid{
    background-color:white;
}
.logo{
    background-color:white;
    padding-left:12%;
}
.d-flex{
    width: 36%;
    margin-left: -90px;
}
.d-flex input{
    /* position: relative; */
 margin-left:-125%;
} 
.collapse{
    background-color:white;
}
.navbar-collapse{
    background-color:white;
    width: 300px;
    margin-left: -45%;
} 
/* .nav-link {
    background-color:white !important;
   margin-left: 20px !important;
   margin-right: 20px !important;
    color: black !important;
} */
.nav-link {
    background-color:white !important;
    margin-left: 10px !important;
   margin-right: 10px !important;
   color: black !important;
}
.nav-item{
    background-color:white;
}
.MinSlider{
    font-size: medium !important;
    width: 100%;
}
.row{
    margin-top: 10px !important;
    background-color: white;
    width: 100%;
    height: 30vh;
    padding-left: 20px;
}
.SlideItem img{
    background-color: white !important;
    margin-top: 10px;
}
.SlideItem{
    
    margin-top: 40px; 
    background-color: white !important;
    margin-left: 15px;
    margin-right: 15px;
}
.SlideItem a{
    font-size: medium !important;
    text-decoration: none;
    color: black;
    margin-top: 80px;
    font-weight: 500;
    background-color: white;
}
.SlideItem a:hover{
    color:slateblue;
}
.ImageSld{
    background-color: white;
    margin-top: 10px;
}