*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: large !important;
    background-color: whitesmoke;
}
.navbar{
    background-color: white;
}
.container-fluid{
    background-color:white;
}
.logo{
    background-color:white;
    padding-left:12%;
}
.d-flex{
    width: 36%;
    margin-left: -90px;
}
.d-flex input{
    /* position: relative; */
 margin-left:-125%;
} 
.collapse{
    background-color:white;
}
.navbar-collapse{
    background-color:white;
    width: 300px;
    margin-left: -45%;
} 
/* .nav-link {
    background-color:white !important;
   margin-left: 20px !important;
   margin-right: 20px !important;
    color: black !important;
} */
.nav-link {
    background-color:white !important;
    margin-left: 10px !important;
   margin-right: 10px !important;
   color: black !important;
}
.nav-item{
    background-color:white;
}